<div>
  <select (change)="onDeviceSelectChange($event.target.value)">
      <option value="" [selected]="!currentDevice">No Device Selected</option>
      <option *ngFor="let device of availableDevices" [value]="device.deviceId" [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}</option>
    </select>
  {{scan}}
  <zxing-scanner #scanner [(device)]="currentDevice" (scanComplete)="scanCompleteHandler($event)"></zxing-scanner>
  <button mat-raised-button color="primary" class="float-right" [mat-dialog-close]="{name: name, publicKey: publicKey}">
    Add
  </button>
</div>