<mat-drawer-container class="h-100" >
  <mat-drawer opened="true" #drawer class="example-sidenav show-badge" mode="side">
    <div class="row">
      <button class="w-100 mt-2" (click)="addFriend()" mat-raised-button color="primary">
        Add Friend
      </button>
    </div>
    <div class="row">
      <button class="w-100 mt-2" (click)="listFriends()" mat-raised-button>
        List Friends
      </button>
    </div>
    <div class="row">
      <button class="w-100 mt-2" (click)="showPublicKey()" mat-raised-button>
        Show Public Key
      </button>
    </div>
    <div class="row">
      <button class="w-100 mt-2" (click)="createGroup()" mat-raised-button color="primary">
        Create Group
      </button>
    </div>
    <div class="row">
      <button class="w-100 mt-2" (click)="deleteGroups()" mat-raised-button color="warn">
        Delete All Groups
      </button>
    </div>
    <div class="row">
      <button class="w-100 mt-2" (click)="deleteMessages()" mat-raised-button color="warn">
        Delete All Messages
      </button>
    </div>
    <br>
    <br>
    <div class="row" *ngFor="let a of groups">
      <button class="w-100 mt-2" (click)="openGroup(a)" matBadgeColor="warn" matBadge="{{msgCount(a.name)}}" mat-raised-button [class.mat-primary]="a == selectedGroup">
          {{a.name}}
      </button>
    </div>
</mat-drawer>




  <div class="h-100 d-flex justify-content-between flex-column ot example-sidenav-content">
    <div class="row mb-2">
      <button class="" mat-button (click)="drawer.toggle()">
        <mat-icon class="">menu</mat-icon>
      </button>
    </div>
    <app-chat class="h-100" [group]="selectedGroup" [messages]="messages">
    </app-chat>
  </div>
</mat-drawer-container>